.social_login_facebook {background-color: #3B5998; color:#fff !important;}
.social_login_naver {background-color: #25CC08; color:#fff !important;}
.social_login_google {background-color: #DD4B39; color:#fff !important;}
.social_login_kakao {background-color: #FFEB00; color:#3c1e1e !important;}